*{margin: 0;
padding: 0;
}
.box{
    background: purple;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid black;

    display: flex;
    gap: 10px;
}
.gold{
    background:gold;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;}
    

.bo{
    display: flex;
flex-wrap: wrap;
gap: 10px;
padding: 20px;
justify-content: center;
align-items: center;
}
.box4{
    justify-content: space-between;

}
.box1{
    background: purple;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    padding: 8px;
}
.box6{
justify-content: end;
}
.gold2{
    background:gold;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;

    margin-top: 8px;
    margin-bottom: 8px;
}

.box7{
    justify-content: center;
}
.box8{
    justify-content: space-between;
}
.box10{
    align-items: end;
}
.box11{
align-items: center;
}
.box12{
    justify-content: space-between;
}
.box3{
    flex-wrap: wrap;
}